<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="user-nav">
        <h4>User</h4>
        <% if(locals.user) { %>
            <% if(user.avatar) { %>
                <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
            <% } %>
            <p>
                <a href="/user/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
        <div>
            <h4>All Friends</h4>
            <%if(locals.user){%>
                <%for(friend of user.friend){%>
                    <%if(friend.from_user.id != user.id){%>
                        <p>
                            <a href="/user/profile/<%=friend.from_user.id %>">
                                <%= friend.from_user.name%>
                            </a>
                        </p>
                    <%}else{%>
                      
                        <p>
                            <a href="/user/profile/<%=friend.to_user.id %>">
                                <%= friend.to_user.name%>
                            </a>
                        </p>

                    <%}%>

                <%}%>
            <%}%>
            
        </div>
    </section>
    <session id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) {%>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="4" placeholder="Type here...." required></textarea>
                <input type="submit" value="Post">
            </form>



            <% } %>
            <div class="post-container">
                <ul>
                    <%for(post of posts){%>
        
        
                        <%- include('_post') -%>
        
                            <%}%>
                </ul>
            </div>
    </session>



   
    <section id="user-friends">


        <h4>All Users</h4>

        <% for(u of all_user) {%>
            <p>
                <a href="/user/profile/<%=u.id %>">
                    <%= u.name%>
                </a>
            </p>

            <% } %>
    </section>
</div>
<%- include("_chat_box") -%>






<script src="/js/home_posts_comment.js"></script>
<script src="/js/home_posts.js"></script>
<!-- import the script file for the toggle likes,also run it over for the aslready present posts and comment on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    //  console.log('uifhehef',$('.toggle-like-button'))
    $('.toggle-like-button').each(function () {
        // console.log(this);

        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){%>
   <script>
       new ChatEngine('user-chat-box','<%=locals.user.email%>')
    </script>
<%}%>

</body>

</html>