<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>


    <h1>
        <%= content%>
    </h1>


    <session id="feed-posts">
        <h4>Posts</h4>
       <% if(locals.user) {%>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="4" placeholder="Type here...." required></textarea>
            <input type="submit" value="Post">
        </form>



        <% } %>
    </session>
    <div class="post-container">
        <ul>
            <%for(post of posts){%>


                <%- include('_post') -%>
               
            <%}%>
        </ul>
    </div>
    <section id="user-friends">


        <h4>friends</h4>

        <% for(u of all_user) {%>
                 <p>
                    <a href="/user/profile/<%=u.id %>"><%= u.name%></a>
                 </p>

            <% } %>
    </section>
    <script src="/js/home_posts.js"></script>


</body>

</html>