<link rel="stylesheet" href="/css/user_profile.css">

<h1>Hii!!! you are visited <%=profile_user.name %>'s profile page</h1>
<a href="/user/sign-out">sign out</a>

<% if(user.id == profile_user.id) { %>
    <!-- if user matches then show update form  -->
       <form action="/user/update/<%= profile_user.id %>" enctype="multipart/form-data"method="POST">
           <input type="text" name="name" placeholder="your Name" value ="<%=profile_user.name%>" required>
           <input type="text" name="email" placeholder="your Email" value ="<%=profile_user.email%>" required>
           <input type="file" name="avatar" placeholder="Profile Picture">
           <input type="submit" value="Update">
        </form>

<%}else{ %>
        <!-- else show only the profie info -->
    <ul>
    
            <li><%=profile_user.name %></li>
            
        
    </ul>
<% } %>

<img src="<%=user.avatar %>" alt="<%= user.name %>" width="300px" height="300px">